<div class="background-image">
  <p class="adopt-button">
    <%= link_to "ADOPT", action: "new" %>
  </p>
</div>
<div>
  <h2>Your Kennel:</h2>
  <ul class="kennel">
    <% @puppies.each do |puppy| %>
        <li><%= link_to puppy.name, puppy_path(puppy.id), class: "home__kennel--link" %></li>
    <% end %>
  </ul>
</div>
