* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #88CCF1;
}

.header {
  background-color: orange;
  height: auto;
}

h1 {
  text-align: center;
  margin: 0;
  font-size: 75px;
  color: white;
  font-family: "Dancing Script", cursive;
}

h2 {
  font-size: 50px;
  margin: 0;
  margin-top: 20px;
  text-align: center;
}

.adopt-button {
  position: absolute;
  bottom: -5%;
  right: 15%;
  margin: 0;
  background-color: yellow;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  text-align: center;

  a {
    display: inline-block;
    position: relative;
    top: -.5em;
    margin-top: 50%;
    font-size: 1.6em;
    text-decoration: none;
    color: black;

    &:hover {
      font-size: 2em;
    }
  }
}

div.background-image {
  width: 100%;
  height: 500px;
  background-image: url(asset_path("placeholder.jpg"));
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.kennel {
  width: 30%;
  margin: auto;
  margin-bottom: 50px;
  padding: 0;
  border: 1px solid black;
  list-style: none;

  li {
    text-align: center;
    font-size: 22pt;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li:nth-child(even) {
    background: #8FE388;
  }

  li:nth-child(odd) {
    background: #EEC0C6;
  }
}

.home__kennel--link {
    text-decoration: none;
    color: black;

  &:hover {
    font-size: 1.2em;
  }
}

.footer {
  background-color: #3943B7;
  padding: 2em;

  p {
    margin: 0;
    color: white;
    display: inline;
  }
}

.contacts {
  padding-left: 30px;
}

.footer__link--image {
  display: inline;
  width: 30px;
  height: auto;
}

.attributes {
  position: absolute;
  bottom: -10%;
  width: 100%;
  text-align: center;

  div:nth-child(even) {
    background: #8FE388;
  }

  div:nth-child(odd) {
    background: #EEC0C6;
  }
}

.attribute__bubble {
  display: inline-block;
  margin: 0;
  background-color: yellow;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  text-align: center;
  border: 1px solid black;
}
.attribute__bubble--stats {
  display: inline-block;
  position: relative;
  top: -.5em;
  margin-bottom: 0;
  font-size: 2em;
  text-decoration: none;
  color: white;
}

.actions {
  text-align: center;
  padding: 10% 0 10% 0;
  font-size: 1.5em;
}

.actions__link {
  text-decoration: none;
  color: black;
  border-radius: 10%;
  border: 1px solid black;
  padding: 2px;
  background-color: yellow;

  &:hover {
    font-size: 1.2em;
  }
}
